.blockscalarsink {
	background:url('../images/scalarsink.png');
}

.ScalarSource .block-content {
	line-height:normal;
	text-align:center;
}

.blockscalarsource {
	background:url('../images/scalarsource.png');
}

.ScalarSink .block-content {
	line-height:normal;
	text-align:center;
}