.ScalarSink .block-content {
   line-height:normal;
   text-align:center;
}

.blockscalarsink {
	background:url('../images/scalarsink.png');
}

.ScalarSource .block-content {
	line-height:normal;
	text-align:center;
}

.blockscalarsource {
	background:url('../images/scalarsource.png');
}

.IncrementalSource .block-content {
   line-height:normal;
   text-align:center;
}

.blockincrementalsource {
   background:url('../images/incrementalsource.png');
}

.PSOM .block-content {
   line-height:normal;
   text-align:center;
}

.d3psom rect {
  fill: none;
  pointer-events: all;
}

.d3psom .node {
  fill: #000;
}

.d3psom .cursor {
  fill: none;
  stroke: brown;
  pointer-events: none;
}

.d3psom .link {
  stroke: #999;
}



.blockpsomfunc {
   background:url('../images/psomfunc.png');
}

.ArraySource .block-content {
   line-height:normal;
   text-align:center;
}

.blockarraysource {
   background:url('../images/arraysource.png');
}

}