.ScalarSink .block-content {
   line-height:normal;
   text-align:center;
}

.blockscalarsink {
	background:url('../images/scalarsink.png');
}

.ScalarSource .block-content {
	line-height:normal;
	text-align:center;
}

.blockscalarsource {
	background:url('../images/scalarsource.png');
}

.IncrementalSource .block-content {
   line-height:normal;
   text-align:center;
}

.blockincrementalsource {
   background:url('../images/incrementalsource.png');
}

.PSOM .block-content {
   line-height:normal;
   text-align:center;
}

.blockpsomfunc {
   background:url('../images/psomfunc.png');
}

.ArraySource .block-content {
   line-height:normal;
   text-align:center;
}

.blockarraysource {
   background:url('../images/scalarsource.png'); // TODO change to custom icon!
}