.PSOM .block-content {
   line-height:normal;
   text-align:center;
}

.d3psom {
  position: absolute;
  left:0;
  top:0;
}

.d3psom rect {
  fill: none;
  pointer-events: all;
}

.d3psom .node {
  fill: #000;
}

.d3psom .cursor {
  fill: none;
  stroke: gray;
  pointer-events: none;
}

.d3psom .link {
  stroke: #999;
}