<form class="form-horizontal properties-generic">
      {{# _.each(properties, function(property, key) { }}
         <div class="form-group">
            <label class="control-label col-sm-6">
               {{property.text}}
            </label>
            <div class="col-sm-6">
               <div class="input-group">
                  <input class="form-control" id="{{propertiesid}}-{{key}}-value" type="text" value="{{property.value}}"/>
                  <div class="input-group-btn">
                     <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                     </button>
                     <ul class="dropdown-menu">
                        <li><a class="make-input-socket" data-properties-id="{{propertiesid}}" data-property-id="{{key}}">Make input socket</a></li>
                        <li><a class="make-output-socket" data-properties-id="{{propertiesid}}" data-property-id="{{key}}">Make output socket</a></li>
                     </ul>
                  </div>
               </div>
            </div>
         </div>
      {{# }); }}
</form>