<div class="modal fade {{propertiesCssClass}}" id="{{id}}">
   	<div class="modal-dialog">
      	<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">×</button>
				<h3>{{blockName}} Properties</h3>
			</div>
			<div class="modal-body">
				<ul class="nav nav-tabs">
					{{# var css="active"; }}
					{{# _.each(tabs, function(tab) { }}
					 	<li class="{{css}}">
					 		<a href="#{{tab.Id}}" data-toggle="tab">{{ tab.Name }}</a>
					 	</li>
					 	{{# css = "";}}
					{{# }); }}
				{{# if (inputsCount > 0) { }}
					<li>
						<a href="#{{id}}-inputs" data-toggle="tab">Inputs</a>
					</li>
				{{# }; }}

				{{# if (outputsCount > 0) { }}
					<li>
						<a href="#{{id}}-outputs" data-toggle="tab">Outputs</a>
					</li>
				{{# }; }}
				</ul>

				<div class="tab-content" style="padding-top:15px;">
					{{# var css="active"; }}
					{{# _.each(tabs, function(tab) { }}
						<div class="tab-pane {{css}}" id="{{tab.Id}}">{{tab.Content}}</div>
						{{# css = "";}}
					{{# }); }}

					{{# if (inputsCount > 0) { }}
						<div class="tab-pane {{css}}" id="{{id}}-inputs"></div>
						{{# css = "";}}
					{{# }; }}

					{{# if (outputsCount > 0) { }}
						<div class="tab-pane {{css}}" id="{{id}}-outputs"></div>
						{{# css = "";}}
					{{# }; }}

				</div>
			</div>
			<div class="modal-footer">
				<a href="#" data-dismiss="modal" class="btn btn-default">Close</a>
			</div>
		</div>
	</div>
</div>