<div class="modal fade" id="importExportModelDialog" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Import / Export Model</h3>
         </div>
         <div class="modal-body">
            <div class="alert alert-error alert-block" id="importError">
               <h4>Import Error</h4><span id="error-reason"></span>
            </div>
            <p>Below is the Model in JSON format. Copy the contents into your favourite text editor to export.</p>
            <p>To import some blocks, click empty below and paste in a JSON model. The new blocks will be imported on top of your existing model, so you might want to clear that first.</p>
            <form>
               <fieldset>
                  <textarea rows="8" id="jsonImportExport" class="form-control">
                  </textarea>
               </fieldset>
            </form>
         </div>
         <div class="modal-footer">
            <div class="btn-group">
               <button type="button" class="btn btn-primary" data-dismiss="modal" id="importModel" disabled="disabled">Import</button>
               <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
         </div>
      </div>
   </div>
</div>