<div class="modal hide fade" id="loadDialog">
   <div class="modal-header">
      <button class="close" data-dismiss="modal">×</button>
      <h3>Load Model</h3>
   </div>
   <div class="modal-body">
      <form class="form-horizontal">
         <div id="loadModelsPlaceholder"></div>
      </form>
   </div>
   <div class="modal-footer">
      <button type="button" class="btn btn-primary" data-dismiss="modal" id="loadModel">Load</button>
      <button type="button" class="btn" data-dismiss="modal">Cancel</button>
   </div>
</div>