<div class="modal fade" id="saveDialog" role="dialog">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button class="close" data-dismiss="modal">×</button>
            <h3>Save Model</h3>
         </div>
         <div class="modal-body">
            <form class="form-horizontal">
               <span class="savedModelsPlaceholder"></span>
               <legend>Save a new model by typing a new name</legend>
               <div class="control-group">
                  <label class="control-label" for="newModelName">New name:</label>
                  <div class="controls">
                     <input type="text" class="form-control" id="newModelName" placeholder="{{ harnessName }}">
                  </div>
               </div>
            </form>
         </div>
         <div class="modal-footer">
            <div class="btn-group">
               <button type="button" class="btn btn-primary" data-dismiss="modal" id="saveModel">Save</button>
               <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>   
         </div>
      </div>
   </div>   
</div>